.hamburger-menu{

    transition: all ease .9s;

    position: relative;
    z-index: 1000;

    .lines{

        &:first-child{
            transform-origin: left;
            transition: all ease .5s;
        }
    
        &:last-child{
            transform-origin: left;
            transition: all ease .5s;
        }
    }

    &.clicked{

        transform: translateX(-170px);

        .lines{
            
            &:nth-child(2){
                visibility: hidden;
            }

            &:first-child{
                transform: rotate(45deg);
            }

            &:last-child{
                transform: rotate(-45deg);
            } 
        }

        
    }
}

.overlay{
    transition: all ease .5s;
}

.overlay.opened{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(26, 16, 16, 0.5);

}

body.opened{
    overflow: hidden;
}
