.hamburger-menu{

    transition: all ease .9s;

    position: relative;
    z-index: 1000;

    .lines{

        &:first-child{
            transform-origin: left;
            transition: all ease .5s;
        }
    
        &:last-child{
            transform-origin: left;
            transition: all ease .5s;
        }
    }

    &.clicked{

        transform: translateX(-170px);

        .lines{
            
            &:nth-child(2){
                visibility: hidden;
            }

            &:first-child{
                transform: rotate(45deg);
            }

            &:last-child{
                transform: rotate(-45deg);
            } 
        }

        
    }
}

.overlay{
    transition: all ease .5s;
}

.overlay.opened{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(26, 16, 16, 0.5);

}

body.opened{
    overflow: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2C6269;
    overflow: hidden;
    transition: all ease 1s;
    background-image: url(../images/sidebar.svg);
    background-repeat: no-repeat;
    background-size: 100px 200px;
    background-position: bottom right;
    background-attachment: fixed;

    @media only screen and (max-width: 576px){
        &.opened{
            width: 255px;
            
        }
    }

    &-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 112px;
        
        &__links{
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: #FFFFFF;
            transition: all ease .5s;
            display: inline-block;
            // transform: rotateY(90deg);

            &:first-child{
                margin-bottom: 24px;
            }
            
            &:nth-child(2){
                margin-bottom: 36px;
            }

            &:hover{
                color: $lightCoral;
            }

        }

        &__button{
            width: 160px;
        }
    }
}
