.hamburger-menu{

    position: relative;
    z-index: 3;

    .lines{

        &:first-child{
            transform-origin: left;
            transition: all ease .5s;
        }
    
        &:last-child{
            transform-origin: left;
            transition: all ease .5s;
        }
    }

    &.clicked{

        .lines{
            
            &:nth-child(2){
                visibility: hidden;
            }

            &:first-child{
                transform: rotate(45deg);
            }

            &:last-child{
                transform: rotate(-45deg);
            } 
        }

        
    }
}

body.opened{
    background-color: rgba(201, 178, 178, 0.205);
}
