$livic: 'Livvic';
// ranglar

$midnightGreen: #014E56;
$lightCoral: #F67E7E;
$raptureBlue: #79C8C7;
$policeBlue: #2C6269;
$white: #ffffff;
$jungleGreen: #004047;
$stateGreen: #012F34;
$darkGreen: #002529;
