@import '../css/fonts';
@import '../css/normalize';
@import '../css/variables';

@mixin flex($ai, $jc, $fd){
    display: flex;
    align-items: $ai;
    justify-content: $jc;
    flex-direction: $fd;
}

@mixin background($url, $size, $repeat, $position){
    background: $url;
    background-size: $size;
    background-repeat: $repeat;
    background-position: $position;
}

%transition{
    transition: all ease .5s;
}
// *********************************************************************************


body{
    font-family: $livic;
}

.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1140px;
    box-sizing: border-box;
}

.button{
    border: 2px solid #012F34;
    box-sizing: border-box;
    border-radius: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #012F34;
    padding: 10px 32px;
    @extend %transition;
    &:hover{
        background: #012F34;
        color: #FFFFFF;
    }
    &:active{
        mix-blend-mode: normal;
        opacity: 0.25;
    }
    
    &--primary{
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
        &:hover{
            background: #FFFFFF;
            color: #002529;
        }
        &:active{
            mix-blend-mode: normal;
            opacity: 0.25;
        }
    }
    &--secondary{
        background: #FFFFFF;
        border: 2px solid #FFFFFF;
        color: #002529;
        &:hover{
            background: #79C8C7;
            color: #002529;
        }
        &:active{
            opacity: 0.25;
        }
    }
}

.heading1{
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 100px;
    color: #002529;
    & .coral{
        color: $lightCoral;
    }
}

.body1{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #002529;
}

.body2{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #002529;
}
// *********************************************************************************

.hero{
    background-color:  $midnightGreen;
}

.header{
    padding-top: 77px;
    padding-bottom: 130px;
    @include flex(center, space-between, auto);
    .header-left{
        @include flex(center, center, auto);
        &__myteam{
            width: 159.95px;
            height: 40px;
            object-fit: contain;
            margin-right: 60px;
        }
        &__header-links{
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: $white;
            padding: 0 20px;
            @extend %transition;
            &:hover{
                color: $lightCoral;
            }
        }
    }
    
}
// **********************************************************************

.header__inner{
    @include background(url(../images/hero1.svg), 100px 200px, no-repeat, top left)
    
}
.content{
    @include flex(flex-end, space-between, auto);
    @include background(url(../images/hero2-3.png), 358px 100px, no-repeat, bottom right);
    padding-bottom: 250px;
    &__title{
        max-width: 605px;
    }
    &__text{
        max-width: 445px;
        color: $white;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: -100px;
            left: 0;
            width: 50px;
            height: 4px;
            background: #79C8C7;
            @extend %transition;    
        }
        &:hover::before{
            background: $lightCoral;
        }
    }
}


