@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Regular.eot");
  src: url("../fonts/Livvic-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Regular.woff") format("woff"), url("../fonts/Livvic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Bold.eot");
  src: url("../fonts/Livvic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Bold.woff") format("woff"), url("../fonts/Livvic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-SemiBold.eot");
  src: url("../fonts/Livvic-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-SemiBold.woff") format("woff"), url("../fonts/Livvic-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Black.eot");
  src: url("../fonts/Livvic-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Black.woff") format("woff"), url("../fonts/Livvic-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Medium.eot");
  src: url("../fonts/Livvic-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Medium.woff") format("woff"), url("../fonts/Livvic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Light.eot");
  src: url("../fonts/Livvic-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Light.woff") format("woff"), url("../fonts/Livvic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Light.eot");
  src: url("../fonts/Livvic-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Light.woff") format("woff"), url("../fonts/Livvic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Italic.eot");
  src: url("../fonts/Livvic-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Italic.woff") format("woff"), url("../fonts/Livvic-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.button, .header .header-left__header-links, .content__text::before, .management__inner .management-left::before, .stories__inner .stories-block .stories-col__author, .stories__inner .stories-block .stories-col .img-wrapper .stories-col__image, footer .footer__left .footer-col__myteam, footer .footer__left .footer-col .footer-menu__link, footer .footer__left .footer-col__info .phone, footer .footer__right .media__social-media svg {
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

body {
  font-family: "Livvic";
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-small {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 950px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .container-small {
    max-width: 605px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .container-small {
    max-width: 420px;
  }
}

.button {
  border: 2px solid #012F34;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012F34;
  padding: 10px 32px;
  display: inline-block;
}

.button:hover {
  background: #012F34;
  color: #FFFFFF;
}

.button:active {
  mix-blend-mode: normal;
  opacity: 0.25;
}

.button--primary {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.button--primary:hover {
  background: #FFFFFF;
  color: #002529;
}

.button--primary:active {
  mix-blend-mode: normal;
  opacity: 0.25;
}

.button--secondary {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #002529;
}

.button--secondary:hover {
  background: #79C8C7;
  color: #002529;
}

.button--secondary:active {
  opacity: 0.25;
}

.heading1 {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  color: #002529;
}

.heading1 .coral {
  color: #F67E7E;
}

.heading1small {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 56px;
  color: #002529;
}

.heading2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #002529;
}

@media only screen and (max-width: 768px) {
  .heading2 {
    font-size: 32px;
    line-height: 32px;
  }
}

.heading3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #002529;
}

.body1 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #002529;
}

.body2 {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #002529;
}

.light-blue {
  color: #79C8C7;
}

.coral {
  color: #F67E7E;
}

.hero {
  background-color: #014E56;
}

.header {
  padding-top: 77px;
  padding-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
}

@media only screen and (max-width: 768px) {
  .header {
    padding-bottom: 120px;
  }
}

@media only screen and (max-width: 576px) {
  .header {
    padding-top: 48px;
    padding-bottom: 80px;
  }
}

.header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
}

.header .header-left__myteam {
  width: 159.95px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 60px;
}

.header .header-left__myteam .logo:first-child {
  display: block;
}

@media only screen and (max-width: 576px) {
  .header .header-left__myteam .logo:first-child {
    display: none;
  }
}

.header .header-left__myteam .logo:last-child {
  display: none;
}

@media only screen and (max-width: 576px) {
  .header .header-left__myteam .logo:last-child {
    display: block;
    width: 128px;
    height: 32px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.header .header-left__header-links {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  padding: 0 20px;
}

@media only screen and (max-width: 576px) {
  .header .header-left__header-links.hide {
    display: none;
  }
}

.header .header-left__header-links:hover {
  color: #F67E7E;
}

@media only screen and (max-width: 576px) {
  .header .header-right.hide {
    display: none;
  }
}

.hamburger-menu {
  display: none;
}

@media only screen and (max-width: 576px) {
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu .lines {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 4px;
  }
  .hamburger-menu .lines:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header__inner {
  background: url(../images/hero1.svg);
  background-size: 100px 200px;
  background-repeat: no-repeat;
  background-position: top left;
}

@media only screen and (max-width: 768px) {
  .header__inner {
    background-image: none;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
  background: url(../images/hero2.svg);
  background-size: 358px 100px;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 250px;
}

@media only screen and (max-width: 768px) {
  .content {
    background-position: bottom center;
    background-size: 358px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    padding-bottom: 197px;
  }
}

.content__title {
  max-width: 605px;
}

@media only screen and (max-width: 768px) {
  .content__title {
    text-align: center;
    font-size: 64px;
    line-height: 56px;
    max-width: 350px;
    color: #ffffff;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 576px) {
  .content__title {
    font-size: 40px;
    line-height: 40px;
    max-width: 248px;
    margin-bottom: 18px;
  }
}

.content__text {
  max-width: 445px;
  color: #ffffff;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .content__text {
    text-align: center;
    font-size: 15px;
  }
}

.content__text::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 50px;
  height: 4px;
  background: #79C8C7;
}

@media only screen and (max-width: 768px) {
  .content__text::before {
    display: none;
  }
}

.content__text:hover::before {
  background: #F67E7E;
  cursor: pointer;
}

.management {
  background-color: #012F34;
  background-image: url(../images/section2.svg);
  background-repeat: no-repeat;
  background-size: 100px 244px;
  background-position: bottom right;
}

@media only screen and (max-width: 768px) {
  .management {
    background-position: top right;
  }
}

.management__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
  padding-top: 190px;
  padding-bottom: 140px;
}

@media only screen and (max-width: 768px) {
  .management__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 576px) {
  .management__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 64px;
  }
}

.management__inner .management-left {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .management__inner .management-left {
    left: -50px;
  }
}

@media only screen and (max-width: 576px) {
  .management__inner .management-left {
    left: 10px;
  }
}

.management__inner .management-left .management-left__title {
  max-width: 445px;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .management__inner .management-left .management-left__title {
    margin-bottom: 64px;
  }
}

@media only screen and (max-width: 576px) {
  .management__inner .management-left .management-left__title {
    font-size: 32px;
    line-height: 32px;
    max-width: 240px;
  }
}

.management__inner .management-left::before {
  content: "";
  position: absolute;
  top: -54px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
}

@media only screen and (max-width: 768px) {
  .management__inner .management-left::before {
    top: -30px;
  }
}

.management__inner .management-left:hover::before {
  background-color: #ffffff;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .management .management-right {
    margin-right: auto;
    margin-left: auto;
  }
}

.management .management-right__tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 32px;
}

@media only screen and (max-width: 576px) {
  .management .management-right__tasks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 48px;
  }
}

.management .management-right__tasks .tasks-image {
  width: 56px;
  height: 56px;
  background: #2C6269;
  border-radius: 50%;
  margin-right: 23px;
}

@media only screen and (max-width: 576px) {
  .management .management-right__tasks .tasks-image {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .management .management-right__tasks .tasks-image {
    margin-right: auto;
    margin-left: auto;
  }
}

.management .management-right__tasks .tasks-image__image {
  position: relative;
  top: -15px;
  left: -15px;
  width: 56px;
  height: 56px;
  -o-object-fit: contain;
     object-fit: contain;
}

.management .management-right__tasks .tasks-info__title {
  color: #F67E7E;
  margin-bottom: 16px;
}

@media only screen and (max-width: 576px) {
  .management .management-right__tasks .tasks-info__title {
    text-align: center;
    margin-bottom: 8px;
  }
}

.management .management-right__tasks .tasks-info__text {
  color: #ffffff;
  max-width: 445px;
}

@media only screen and (max-width: 576px) {
  .management .management-right__tasks .tasks-info__text {
    margin-right: auto;
    margin-left: auto;
    max-width: 540px;
    text-align: center;
  }
}

.stories {
  background-color: #004047;
  background-image: url(../images/story-bg.svg), url(../images/story-bg2.svg);
  background-repeat: no-repeat;
  background-size: 147px 100px, 200px 100px;
  background-position: top left, bottom right;
}

.stories__inner {
  padding-top: 140px;
  padding-bottom: 150px;
}

@media only screen and (max-width: 768px) {
  .stories__inner {
    padding-bottom: 110px;
  }
}

@media only screen and (max-width: 576px) {
  .stories__inner {
    padding-bottom: 164px;
  }
}

.stories__inner .stories-title {
  text-align: center;
  max-width: 932px;
  color: #ffffff;
  margin-bottom: 92px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .stories__inner .stories-title {
    max-width: 573px;
  }
}

@media only screen and (max-width: 576px) {
  .stories__inner .stories-title {
    font-size: 32px;
    line-height: 32px;
    max-width: 327px;
    margin-bottom: 84px;
  }
}

.stories__inner .stories-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
}

@media only screen and (max-width: 768px) {
  .stories__inner .stories-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.stories__inner .stories-block .stories-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 31%;
}

@media only screen and (max-width: 768px) {
  .stories__inner .stories-block .stories-col {
    max-width: 573px;
    margin-bottom: 84px;
  }
  .stories__inner .stories-block .stories-col:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 576px) {
  .stories__inner .stories-block .stories-col {
    max-width: 327px;
  }
}

.stories__inner .stories-block .stories-col__text {
  text-align: center;
  color: #ffffff;
  margin-bottom: 24px;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 576px) {
  .stories__inner .stories-block .stories-col__text {
    margin-bottom: 16px;
  }
}

.stories__inner .stories-block .stories-col__text::before {
  content: "";
  position: absolute;
  top: -35px;
  right: 0;
  left: 0;
  margin: auto;
  background-image: url(../images/sign.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 67px;
  height: 56px;
  z-index: -1;
}

.stories__inner .stories-block .stories-col__author {
  color: #79C8C7;
  margin-bottom: 2px;
}

.stories__inner .stories-block .stories-col__author:hover {
  opacity: .6;
}

.stories__inner .stories-block .stories-col__position {
  color: #ffffff;
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 32px;
}

@media only screen and (max-width: 768px) {
  .stories__inner .stories-block .stories-col__position {
    margin-bottom: 16px;
  }
}

.stories__inner .stories-block .stories-col .img-wrapper {
  overflow: hidden;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #fff;
}

.stories__inner .stories-block .stories-col .img-wrapper .stories-col__image {
  border-radius: 50%;
  width: 62px;
  height: 62px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.stories__inner .stories-block .stories-col .img-wrapper .stories-col__image:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border-radius: 50%;
}

.start {
  background-color: #F67E7E;
  background-image: url(../images/start1.svg);
  background-repeat: no-repeat;
  background-size: 165px 120px;
  background-position: bottom left;
}

@media only screen and (max-width: 768px) {
  .start {
    background-image: none;
    background-image: url(../images/start2.svg);
    background-size: 200px 122px;
  }
}

.start-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
  padding-top: 76px;
  padding-bottom: 76px;
}

@media only screen and (max-width: 576px) {
  .start-inner {
    padding-top: 83px;
    padding-bottom: 83px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 576px) {
  .start-inner__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 24px;
  }
}

footer {
  background-color: #002529;
  padding: 48px 0;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
}

@media only screen and (max-width: 768px) {
  footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: auto;
        -ms-flex-align: auto;
            align-items: auto;
    -webkit-box-pack: auto;
        -ms-flex-pack: auto;
            justify-content: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
}

@media only screen and (max-width: 768px) {
  footer .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: auto;
        -ms-flex-align: auto;
            align-items: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: auto;
            flex-direction: auto;
    margin-bottom: 35px;
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  footer .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }
}

footer .footer__left .footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 768px) {
  footer .footer__left .footer-col:last-child {
    text-align: right;
  }
}

@media only screen and (max-width: 576px) {
  footer .footer__left .footer-col:last-child {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer__left .footer-col:first-child {
  margin-right: 125px;
}

@media only screen and (max-width: 768px) {
  footer .footer__left .footer-col:first-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 576px) {
  footer .footer__left .footer-col:first-child {
    margin-bottom: 24px;
  }
}

footer .footer__left .footer-col__myteam {
  width: 160px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  footer .footer__left .footer-col__myteam {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 576px) {
  footer .footer__left .footer-col__myteam {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
  }
}

footer .footer__left .footer-col__myteam:hover {
  opacity: .6;
}

@media only screen and (max-width: 576px) {
  footer .footer__left .footer-col .footer-menu {
    margin-right: auto;
    margin-left: auto;
  }
}

footer .footer__left .footer-col .footer-menu__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  footer .footer__left .footer-col .footer-menu__link {
    font-size: 15px;
    line-height: 25px;
  }
}

footer .footer__left .footer-col .footer-menu__link:hover {
  color: #F67E7E;
}

footer .footer__left .footer-col .footer-menu__link:first-child {
  margin-right: 40px;
}

footer .footer__left .footer-col__info {
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
  font-weight: 400;
}

footer .footer__left .footer-col__info .phone {
  color: #ffffff;
  mix-blend-mode: normal;
  margin-left: 5px;
}

footer .footer__left .footer-col__info .phone:hover {
  color: #F67E7E;
}

footer .footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 768px) {
  footer .footer__right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  footer .footer__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

footer .footer__right .media {
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  footer .footer__right .media {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 576px) {
  footer .footer__right .media {
    margin-bottom: 18px;
  }
}

footer .footer__right .media__social-media {
  margin-left: 16px;
}

@media only screen and (max-width: 768px) {
  footer .footer__right .media__social-media:first-child {
    margin-left: 0;
  }
}

footer .footer__right .media__social-media svg {
  fill: #ffffff;
}

footer .footer__right .media__social-media svg:hover {
  fill: #F67E7E;
}

footer .footer__right .media__guarantee {
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */