@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Regular.eot");
  src: url("../fonts/Livvic-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Regular.woff") format("woff"), url("../fonts/Livvic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Bold.eot");
  src: url("../fonts/Livvic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Bold.woff") format("woff"), url("../fonts/Livvic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-SemiBold.eot");
  src: url("../fonts/Livvic-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-SemiBold.woff") format("woff"), url("../fonts/Livvic-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Black.eot");
  src: url("../fonts/Livvic-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Black.woff") format("woff"), url("../fonts/Livvic-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Medium.eot");
  src: url("../fonts/Livvic-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Medium.woff") format("woff"), url("../fonts/Livvic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Light.eot");
  src: url("../fonts/Livvic-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Light.woff") format("woff"), url("../fonts/Livvic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Light.eot");
  src: url("../fonts/Livvic-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Light.woff") format("woff"), url("../fonts/Livvic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Italic.eot");
  src: url("../fonts/Livvic-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Italic.woff") format("woff"), url("../fonts/Livvic-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.button, .header .header-left__header-links, .content__text::before {
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

body {
  font-family: "Livvic";
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  border: 2px solid #012F34;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012F34;
  padding: 10px 32px;
}

.button:hover {
  background: #012F34;
  color: #FFFFFF;
}

.button:active {
  mix-blend-mode: normal;
  opacity: 0.25;
}

.button--primary {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.button--primary:hover {
  background: #FFFFFF;
  color: #002529;
}

.button--primary:active {
  mix-blend-mode: normal;
  opacity: 0.25;
}

.button--secondary {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #002529;
}

.button--secondary:hover {
  background: #79C8C7;
  color: #002529;
}

.button--secondary:active {
  opacity: 0.25;
}

.heading1 {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  color: #002529;
}

.heading1 .coral {
  color: #F67E7E;
}

.body1 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #002529;
}

.body2 {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #002529;
}

.hero {
  background-color: #014E56;
}

.header {
  padding-top: 77px;
  padding-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
}

.header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
}

.header .header-left__myteam {
  width: 159.95px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 60px;
}

.header .header-left__header-links {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  padding: 0 20px;
}

.header .header-left__header-links:hover {
  color: #F67E7E;
}

.header__inner {
  background: url(../images/hero1.svg);
  background-size: 100px 200px;
  background-repeat: no-repeat;
  background-position: top left;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
  background: url(../images/hero2-3.png);
  background-size: 358px 100px;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 250px;
}

.content__title {
  max-width: 605px;
}

.content__text {
  max-width: 445px;
  color: #ffffff;
  position: relative;
}

.content__text::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 50px;
  height: 4px;
  background: #79C8C7;
}

.content__text:hover::before {
  background: #F67E7E;
}
/*# sourceMappingURL=style.css.map */