@import '../css/fonts';
@import '../css/normalize';
@import '../css/variables';

@mixin flex($ai, $jc, $fd){
    display: flex;
    align-items: $ai;
    justify-content: $jc;
    flex-direction: $fd;
}

@mixin background($url, $size, $repeat, $position){
    background: $url;
    background-size: $size;
    background-repeat: $repeat;
    background-position: $position;
}

%transition{
    transition: all ease .5s;
}
// *********************************************************************************


body{
    font-family: $livic;
}

.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1140px;
    box-sizing: border-box;
}

.container-small{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 950px;
    box-sizing: border-box;
}

.button{
    border: 2px solid #012F34;
    box-sizing: border-box;
    border-radius: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #012F34;
    padding: 10px 32px;
    display: inline-block;
    @extend %transition;
    &:hover{
        background: #012F34;
        color: #FFFFFF;
    }
    &:active{
        mix-blend-mode: normal;
        opacity: 0.25;
    }
    
    &--primary{
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
        &:hover{
            background: #FFFFFF;
            color: #002529;
        }
        &:active{
            mix-blend-mode: normal;
            opacity: 0.25;
        }
    }
    &--secondary{
        background: #FFFFFF;
        border: 2px solid #FFFFFF;
        color: #002529;
        &:hover{
            background: #79C8C7;
            color: #002529;
        }
        &:active{
            opacity: 0.25;
        }
    }
}

.heading1{
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 100px;
    color: #002529;
    & .coral{
        color: $lightCoral;
    }
}

.heading1small{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 56px;
    color: #002529;
}

.heading2{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #002529;
}

.heading3{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #002529;
}

.body1{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #002529;
}

.body2{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #002529;
}

.light-blue{
    color: $raptureBlue;
}

.coral{
    color: $lightCoral;
}
// *********************************************************************************

.hero{
    background-color:  $midnightGreen;
}

.header{
    padding-top: 77px;
    padding-bottom: 130px;
    @include flex(center, space-between, auto);
    .header-left{
        @include flex(center, center, auto);
        &__myteam{
            width: 159.95px;
            height: 40px;
            object-fit: contain;
            margin-right: 60px;
        }
        &__header-links{
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: $white;
            padding: 0 20px;
            @extend %transition;
            &:hover{
                color: $lightCoral;
            }
        }
    }
    
}
// **********************************************************************

.header__inner{
    @include background(url(../images/hero1.svg), 100px 200px, no-repeat, top left)
    
}
.content{
    @include flex(flex-end, space-between, auto);
    @include background(url(../images/hero2.svg), 358px 100px, no-repeat, bottom right);
    padding-bottom: 250px;
    &__title{
        max-width: 605px;
    }
    &__text{
        max-width: 445px;
        color: $white;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: -100px;
            left: 0;
            width: 50px;
            height: 4px;
            background: #79C8C7;
            @extend %transition;    
        }
        &:hover::before{
            background: $lightCoral;
        }
    }
}
// ***************************************************************************************************

.management{
    background-color: $stateGreen;
    background-image: url(../images/section2.svg);
    background-repeat: no-repeat;
    background-size: 100px 244px;
    background-position: bottom right;

    &__inner{
        @include flex(flex-start, space-between, auto);
        padding-top: 190px;
        padding-bottom: 140px;

        .management-left{
            position: relative;
            .management-left__title{
                width: 445px;
                color: $white;
            }

            &::before{
                content: "";
                position: absolute;
                top: -54px;
                left: 0;
                width: 50px;
                height: 4px;
                background-color: $lightCoral;
                @extend %transition;
            }

            &:hover::before{
                background-color: $white;
            }
        }
    }

    .management-right{

        &__tasks{
            @include flex(center, auto, row);
            margin-bottom: 32px;

            .tasks-image{
                width: 56px;
                height: 56px;
                background: #2C6269;
                border-radius: 50%;
                margin-right: 23px;

                &__image{
                    position: relative;
                    top: -15px;
                    left: -15px;
                    width: 56px;
                    height: 56px;
                    object-fit: contain;
                }
            }

            .tasks-info{
                
                &__title{
                    color: $lightCoral;
                    margin-bottom: 16px;
                }

                &__text{
                    color: $white;
                    width: 445px;
                }
            }
        }

    }
}
// *************************************************

.stories{
    background-color: $jungleGreen;
    background-image: url(../images/story-bg.svg), url(../images/story-bg2.svg);
    background-repeat: no-repeat;
    background-size: 147px 100px, 200px 100px;
    background-position: top left, bottom right;

    &__inner{
        padding-top: 140px;
        padding-bottom: 150px;

        .stories-title{
            text-align: center;
            max-width: 932px;
            color: $white;
            margin-bottom: 92px;
        }

        .stories-block{
            @include flex(flex-start, space-between, auto);
            
            .stories-col{
                @include flex(center, center, column);
                width: 31%;

                &__text{
                    text-align: center;
                    color: $white;
                    margin-bottom: 24px;
                }

                &__author{
                    color: $raptureBlue;
                    margin-bottom: 2px;
                    @extend %transition;

                    &:hover{
                        opacity: .6;
                    }
                }

                &__position{
                    color: $white;
                    font-weight: 300;
                    font-size: 13px;
                    margin-bottom: 32px;
                }

                &__image{
                    border-radius: 50%;
                    width: 62px;
                    height: 62px;
                    @extend %transition;

                    &:hover{
                        opacity: .7;
                    }
                }
            }
        }
    }    
}
// **********************************************************************************************

.start{
    background-color: $lightCoral;
    background-image: url(../images/start1.svg);
    background-repeat: no-repeat;
    background-size: 165px 120px;
    background-position: bottom left;

    &-inner{
        @include flex(center, space-between, auto);
        padding-top: 76px;
        padding-bottom: 76px;
    }
}
// ******************************FOOTER************************************************************

footer{
    background-color: $darkGreen;
    padding: 48px 0;

    .footer{
        @include flex(flex-start, space-between, auto);
        
        &__left{
            @include flex(flex-start, auto, auto);
            
            .footer-col{
                @include flex(flex-start, auto, column)
            }
        }
    }
}





