@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Regular.eot");
  src: url("../fonts/Livvic-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Regular.woff") format("woff"), url("../fonts/Livvic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Bold.eot");
  src: url("../fonts/Livvic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Bold.woff") format("woff"), url("../fonts/Livvic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-SemiBold.eot");
  src: url("../fonts/Livvic-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-SemiBold.woff") format("woff"), url("../fonts/Livvic-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Black.eot");
  src: url("../fonts/Livvic-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Black.woff") format("woff"), url("../fonts/Livvic-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Medium.eot");
  src: url("../fonts/Livvic-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Medium.woff") format("woff"), url("../fonts/Livvic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Light.eot");
  src: url("../fonts/Livvic-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Light.woff") format("woff"), url("../fonts/Livvic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Light.eot");
  src: url("../fonts/Livvic-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Light.woff") format("woff"), url("../fonts/Livvic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Italic.eot");
  src: url("../fonts/Livvic-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Italic.woff") format("woff"), url("../fonts/Livvic-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.button, .header .header-left__myteam, .header .header-left__header-links {
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

body {
  font-family: "Livvic";
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-small {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 950px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .container-small {
    max-width: 605px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .container-small {
    max-width: 420px;
  }
}

.button {
  border: 2px solid #012F34;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012F34;
  padding: 10px 32px;
  display: inline-block;
}

.button:hover {
  background: #012F34;
  color: #FFFFFF;
}

.button:active {
  mix-blend-mode: normal;
  opacity: 0.25;
}

.button--primary {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.button--primary:hover {
  background: #FFFFFF;
  color: #002529;
}

.button--primary:active {
  mix-blend-mode: normal;
  opacity: 0.25;
}

.button--secondary {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #002529;
}

.button--secondary:hover {
  background: #79C8C7;
  color: #002529;
}

.button--secondary:active {
  opacity: 0.25;
}

.heading1 {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  color: #002529;
}

.heading1 .coral {
  color: #F67E7E;
}

.heading1small {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 56px;
  color: #002529;
}

.heading2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #002529;
}

@media only screen and (max-width: 768px) {
  .heading2 {
    font-size: 32px;
    line-height: 32px;
  }
}

.heading3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #002529;
}

.body1 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #002529;
}

.body2 {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #002529;
}

.light-blue {
  color: #79C8C7;
}

.coral {
  color: #F67E7E;
}

.hero {
  background-color: #014E56;
}

.header {
  padding-top: 77px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
}

@media only screen and (max-width: 768px) {
  .header {
    padding-bottom: 112px;
    padding-top: 64px;
  }
}

@media only screen and (max-width: 576px) {
  .header {
    padding-top: 48px;
    padding-bottom: 80px;
  }
}

.header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
}

.header .header-left__myteam {
  width: 159.95px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 60px;
}

.header .header-left__myteam:hover {
  opacity: .6;
}

.header .header-left__myteam .logo:first-child {
  display: block;
}

@media only screen and (max-width: 576px) {
  .header .header-left__myteam .logo:first-child {
    display: none;
  }
}

.header .header-left__myteam .logo:last-child {
  display: none;
}

@media only screen and (max-width: 576px) {
  .header .header-left__myteam .logo:last-child {
    display: block;
    width: 128px;
    height: 32px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.header .header-left__header-links {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  padding: 0 20px;
}

@media only screen and (max-width: 576px) {
  .header .header-left__header-links.hide {
    display: none;
  }
}

.header .header-left__header-links:hover {
  color: #F67E7E;
}

@media only screen and (max-width: 576px) {
  .header .header-right.hide {
    display: none;
  }
}

.hamburger-menu {
  display: none;
}

@media only screen and (max-width: 576px) {
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu .lines {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 4px;
  }
  .hamburger-menu .lines:last-child {
    margin-bottom: 0;
  }
}

.contact {
  background-image: url(../images/contact1.svg), url(../images/contact2.svg);
  background-repeat: no-repeat;
  background-size: 100px 200px 100px 200px;
  background-position: top left, bottom right;
  padding-bottom: 114px;
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__inner .contact-left__title {
  color: #ffffff;
  margin-bottom: 26px;
}

.contact__inner .contact-left__text {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #F67E7E;
  margin-bottom: 48px;
}

.contact__inner .contact-left__service .service-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.contact__inner .contact-left__service .service-row__image {
  width: 56px;
  height: 56px;
  background-color: #2C6269;
  border-radius: 50%;
  margin-right: 25px;
  margin-left: 17px;
}

.contact__inner .contact-left__service .service-row__image .feature-image {
  position: relative;
  top: -17px;
  left: -17px;
}

.contact__inner .contact-left__service .service-row__text {
  color: #ffffff;
}

.contact__inner .contact-right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__inner .contact-right form input {
  width: 540px;
  display: block;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1.5px solid #ffffff;
  padding: 20px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.contact__inner .contact-right form input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.contact__inner .contact-right form input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.contact__inner .contact-right form input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.contact__inner .contact-right form input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.contact__inner .contact-right form input:focus {
  border-bottom: 1.5px solid  #F67E7E;
}

.contact__inner .contact-right form textarea {
  width: 540px;
  padding: 14px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  resize: none;
  height: 107px;
  margin-bottom: 24px;
  border: none;
  border-bottom: 2px solid #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
  padding: 20px 14px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.contact__inner .contact-right form textarea:focus {
  outline: none;
  border-bottom: 2px solid  #F67E7E;
}

.contact__inner .contact-right form textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.contact__inner .contact-right form textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.contact__inner .contact-right form textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.contact__inner .contact-right form textarea::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.contact__inner .contact-right form button {
  border: none;
  outline: none;
}
/*# sourceMappingURL=contact.css.map */