@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Regular.eot");
  src: url("../fonts/Livvic-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Regular.woff") format("woff"), url("../fonts/Livvic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Bold.eot");
  src: url("../fonts/Livvic-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Bold.woff") format("woff"), url("../fonts/Livvic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-SemiBold.eot");
  src: url("../fonts/Livvic-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-SemiBold.woff") format("woff"), url("../fonts/Livvic-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Black.eot");
  src: url("../fonts/Livvic-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Black.woff") format("woff"), url("../fonts/Livvic-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Medium.eot");
  src: url("../fonts/Livvic-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Medium.woff") format("woff"), url("../fonts/Livvic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Light.eot");
  src: url("../fonts/Livvic-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Light.woff") format("woff"), url("../fonts/Livvic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Light.eot");
  src: url("../fonts/Livvic-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Light.woff") format("woff"), url("../fonts/Livvic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url("../fonts/Livvic-Italic.eot");
  src: url("../fonts/Livvic-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Livvic-Italic.woff") format("woff"), url("../fonts/Livvic-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.button, .header .header-left__myteam, .header .header-left__header-links, .content__text::before, .clients-inner .clients-logo__image, footer .footer__left .footer-col__myteam, footer .footer__left .footer-col .footer-menu__link, footer .footer__left .footer-col__info .phone, footer .footer__right .media__social-media svg {
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

body {
  font-family: "Livvic";
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-small {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 950px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .container-small {
    max-width: 605px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .container-small {
    max-width: 420px;
  }
}

.button {
  border: 2px solid #012F34;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012F34;
  padding: 10px 32px;
  display: inline-block;
}

.button:hover {
  background: #012F34;
  color: #FFFFFF;
}

.button:active {
  mix-blend-mode: normal;
  opacity: 0.25;
}

.button--primary {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.button--primary:hover {
  background: #FFFFFF;
  color: #002529;
}

.button--primary:active {
  mix-blend-mode: normal;
  opacity: 0.25;
}

.button--secondary {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #002529;
}

.button--secondary:hover {
  background: #79C8C7;
  color: #002529;
}

.button--secondary:active {
  opacity: 0.25;
}

.heading1 {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  color: #002529;
}

.heading1 .coral {
  color: #F67E7E;
}

.heading1small {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 56px;
  color: #002529;
}

.heading2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #002529;
}

@media only screen and (max-width: 768px) {
  .heading2 {
    font-size: 32px;
    line-height: 32px;
  }
}

.heading3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #002529;
}

.body1 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #002529;
}

.body2 {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #002529;
}

.light-blue {
  color: #79C8C7;
}

.coral {
  color: #F67E7E;
}

.hamburger-menu {
  -webkit-transition: all ease .9s;
  transition: all ease .9s;
  position: relative;
  z-index: 1000;
}

.hamburger-menu .lines:first-child {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.hamburger-menu .lines:last-child {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.hamburger-menu.clicked {
  -webkit-transform: translateX(-170px);
          transform: translateX(-170px);
}

.hamburger-menu.clicked .lines:nth-child(2) {
  visibility: hidden;
}

.hamburger-menu.clicked .lines:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-menu.clicked .lines:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.overlay {
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.overlay.opened {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(26, 16, 16, 0.5);
}

body.opened {
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2C6269;
  overflow: hidden;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  background-image: url(../images/sidebar.svg);
  background-repeat: no-repeat;
  background-size: 100px 200px;
  background-position: bottom right;
  background-attachment: fixed;
}

@media only screen and (max-width: 576px) {
  .sidebar.opened {
    width: 255px;
  }
}

.sidebar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 112px;
}

.sidebar-menu__links {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  display: inline-block;
}

.sidebar-menu__links:first-child {
  margin-bottom: 24px;
}

.sidebar-menu__links:nth-child(2) {
  margin-bottom: 36px;
}

.sidebar-menu__links:hover {
  color: #F67E7E;
}

.sidebar-menu__button {
  width: 160px;
}

.hero {
  background-color: #014E56;
}

.header {
  padding-top: 77px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
}

@media only screen and (max-width: 768px) {
  .header {
    padding-bottom: 112px;
    padding-top: 64px;
  }
}

@media only screen and (max-width: 576px) {
  .header {
    padding-top: 48px;
    padding-bottom: 80px;
  }
}

.header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
}

.header .header-left__myteam {
  width: 159.95px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 60px;
}

.header .header-left__myteam:hover {
  opacity: .6;
}

.header .header-left__myteam .logo:first-child {
  display: block;
}

@media only screen and (max-width: 576px) {
  .header .header-left__myteam .logo:first-child {
    display: none;
  }
}

.header .header-left__myteam .logo:last-child {
  display: none;
}

@media only screen and (max-width: 576px) {
  .header .header-left__myteam .logo:last-child {
    display: block;
    width: 128px;
    height: 32px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.header .header-left__header-links {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  padding: 0 20px;
}

@media only screen and (max-width: 576px) {
  .header .header-left__header-links.hide {
    display: none;
  }
}

.header .header-left__header-links:hover {
  color: #F67E7E;
}

@media only screen and (max-width: 576px) {
  .header .header-right.hide {
    display: none;
  }
}

.hamburger-menu {
  display: none;
}

@media only screen and (max-width: 576px) {
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu .lines {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 4px;
  }
  .hamburger-menu .lines:last-child {
    margin-bottom: 0;
  }
}

.header__inner {
  background: url(../images/about-hero.svg);
  background-size: 100px 200px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

@media only screen and (max-width: 576px) {
  .header__inner {
    background-image: none;
    background-image: url(../images/about-hero2.svg);
    background-size: 100px 100px;
    background-position: bottom right;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
  padding-bottom: 120px;
}

@media only screen and (max-width: 768px) {
  .content {
    background-position: bottom center;
    background-size: 358px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    padding-bottom: 112px;
  }
}

.content__title {
  color: #ffffff;
  position: relative;
  top: -40px;
  line-height: 100px;
}

@media only screen and (max-width: 768px) {
  .content__title {
    text-align: center;
    font-size: 64px;
    line-height: 56px;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 576px) {
  .content__title {
    font-size: 40px;
    line-height: 40px;
    max-width: 248px;
    margin-bottom: 18px;
  }
}

.content__text {
  max-width: 730px;
  color: #ffffff;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .content__text {
    text-align: center;
    font-size: 15px;
    max-width: 457px;
  }
}

@media only screen and (max-width: 576px) {
  .content__text {
    max-width: 327px;
  }
}

.content__text::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 50px;
  height: 4px;
  background: #79C8C7;
}

@media only screen and (max-width: 768px) {
  .content__text::before {
    display: none;
  }
}

.content__text:hover::before {
  background: #F67E7E;
  cursor: pointer;
}

.team {
  background-color: #004047;
  background-image: url(../images/team1.svg), url(../images/team2.svg);
  background-repeat: no-repeat;
  background-size: 100px 200px, 147px 100px;
  background-position: top left, bottom right;
}

@media only screen and (max-width: 576px) {
  .team {
    background-image: none;
    background-image: url(../images/team3.svg), url(../images/team2.svg);
    background-size: 100px 100px, 147px 100px;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }
}

.team-inner__title {
  text-align: center;
  color: #ffffff;
  padding-top: 140px;
  padding-bottom: 64px;
}

@media only screen and (max-width: 768px) {
  .team-inner__title {
    font-size: 32px;
    line-height: 32px;
    padding-top: 100px;
    padding-bottom: 48px;
  }
}

.team-inner .cards-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 94px;
}

@media only screen and (max-width: 768px) {
  .team-inner .cards-section {
    max-width: 573px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 576px) {
  .team-inner .cards-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 70px;
  }
}

.team-inner .cards-section .card {
  width: 350px;
  height: 253px;
  background-color: #012F34;
  margin-bottom: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.team-inner .cards-section .card.active {
  visibility: visible;
}

.team-inner .cards-section .card.active .card__button {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #79C8C7;
}

.team-inner .cards-section .card.active .info-card {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.team-inner .cards-section .card .info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: absolute;
  z-index: 5;
  background: #012F34;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.team-inner .cards-section .card .info-card__name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
  margin-bottom: 12px;
}

.team-inner .cards-section .card .info-card__desc {
  max-width: 235px;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.team-inner .cards-section .card .info-card__media svg {
  margin-right: 16px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  cursor: pointer;
}

.team-inner .cards-section .card .info-card__media svg:last-child {
  margin-right: 0;
}

.team-inner .cards-section .card .info-card__media svg:hover {
  opacity: .5;
}

@media only screen and (max-width: 768px) {
  .team-inner .cards-section .card {
    max-width: 281px;
    height: 253px;
  }
}

@media only screen and (max-width: 576px) {
  .team-inner .cards-section .card {
    max-width: 327px;
    margin-bottom: 52px;
  }
}

.team-inner .cards-section .card .person {
  overflow: hidden;
  margin-bottom: 16px;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  overflow: hidden;
}

.team-inner .cards-section .card .person__image {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.team-inner .cards-section .card .person__image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.team-inner .cards-section .card__position {
  color: #ffffff;
  font-weight: 400;
}

.team-inner .cards-section .card__button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #F67E7E;
  position: relative;
  top: 25px;
  cursor: pointer;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  z-index: 15;
}

.team-inner .cards-section .card__button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-image: url(../images/plass.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: contain;
  width: 16px;
  height: 16px;
}

.clients {
  background-color: #012F34;
  background-image: url(../images/clients-bg.svg);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: top left;
}

@media only screen and (max-width: 768px) {
  .clients {
    background-image: none;
    background-image: url(../images/clients768.svg);
    background-repeat: no-repeat;
    background-size: 200px 100px;
    background-position: top left;
  }
}

@media only screen and (max-width: 576px) {
  .clients {
    background-image: none;
    background-image: url(../images/clients3.svg);
    background-size: 100px 100px;
    background-position: top left;
  }
}

.clients-inner {
  padding-top: 140px;
  padding-bottom: 150px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 576px) {
  .clients-inner {
    padding-bottom: 50px;
  }
}

.clients-inner__title {
  color: #ffffff;
  margin-bottom: 70px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .clients-inner__title {
    font-size: 32px;
    line-height: 32px;
  }
}

.clients-inner .clients-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 576px) {
  .clients-inner .clients-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .clients-inner .clients-logo__image .img {
    width: 110px;
    height: auto;
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media only screen and (max-width: 768px) and (max-width: 576px) {
  .clients-inner .clients-logo__image .img {
    margin-bottom: 56px;
    width: auto;
    height: auto;
  }
}

.clients-inner .clients-logo__image:hover {
  opacity: .6;
}

.start {
  background-color: #F67E7E;
  background-image: url(../images/start1.svg);
  background-repeat: no-repeat;
  background-size: 165px 120px;
  background-position: bottom left;
}

@media only screen and (max-width: 768px) {
  .start {
    background-image: none;
    background-image: url(../images/start2.svg);
    background-size: 200px 122px;
  }
}

.start-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
  padding-top: 76px;
  padding-bottom: 76px;
}

@media only screen and (max-width: 576px) {
  .start-inner {
    padding-top: 83px;
    padding-bottom: 83px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 576px) {
  .start-inner__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 24px;
  }
}

footer {
  background-color: #002529;
  padding: 48px 0;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
}

@media only screen and (max-width: 768px) {
  footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: auto;
        -ms-flex-align: auto;
            align-items: auto;
    -webkit-box-pack: auto;
        -ms-flex-pack: auto;
            justify-content: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: auto;
          flex-direction: auto;
}

@media only screen and (max-width: 768px) {
  footer .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: auto;
        -ms-flex-align: auto;
            align-items: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: auto;
            flex-direction: auto;
    margin-bottom: 35px;
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  footer .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }
}

footer .footer__left .footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 768px) {
  footer .footer__left .footer-col:last-child {
    text-align: right;
  }
}

@media only screen and (max-width: 576px) {
  footer .footer__left .footer-col:last-child {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer__left .footer-col:first-child {
  margin-right: 125px;
}

@media only screen and (max-width: 768px) {
  footer .footer__left .footer-col:first-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 576px) {
  footer .footer__left .footer-col:first-child {
    margin-bottom: 24px;
  }
}

footer .footer__left .footer-col__myteam {
  width: 160px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 25px;
}

@media only screen and (max-width: 768px) {
  footer .footer__left .footer-col__myteam {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 576px) {
  footer .footer__left .footer-col__myteam {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
  }
}

footer .footer__left .footer-col__myteam:hover {
  opacity: .6;
}

@media only screen and (max-width: 576px) {
  footer .footer__left .footer-col .footer-menu {
    margin-right: auto;
    margin-left: auto;
  }
}

footer .footer__left .footer-col .footer-menu__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  footer .footer__left .footer-col .footer-menu__link {
    font-size: 15px;
    line-height: 25px;
  }
}

footer .footer__left .footer-col .footer-menu__link:hover {
  color: #F67E7E;
}

footer .footer__left .footer-col .footer-menu__link:first-child {
  margin-right: 40px;
}

footer .footer__left .footer-col__info {
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
  font-weight: 400;
}

footer .footer__left .footer-col__info .phone {
  color: #ffffff;
  mix-blend-mode: normal;
  margin-left: 5px;
}

footer .footer__left .footer-col__info .phone:hover {
  color: #F67E7E;
}

footer .footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 768px) {
  footer .footer__right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  footer .footer__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

footer .footer__right .media {
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  footer .footer__right .media {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 576px) {
  footer .footer__right .media {
    margin-bottom: 18px;
  }
}

footer .footer__right .media__social-media {
  margin-left: 16px;
}

@media only screen and (max-width: 768px) {
  footer .footer__right .media__social-media:first-child {
    margin-left: 0;
  }
}

footer .footer__right .media__social-media svg {
  fill: #ffffff;
}

footer .footer__right .media__social-media svg:hover {
  fill: #F67E7E;
}

footer .footer__right .media__guarantee {
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */